html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}


/*Pages
......................................................................*/
.page-1 {
	background-image: url(../img/main_background.png);
	background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #ffffff;
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 10px;
	height: 100%;
}

.page-white-text {
	color: #ffffff;
}

.page-2 {
	background-color: #4a8bff;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 20px;
	color: #ffffff;
}

.page-3 {
	background-color: #ff6479;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #ffffff;
}

.page-4 {
	background-color: #f1f1f1;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 0px;
	color: #1a1a1a;
}

.page-5 {
    background-color: #f1dd66;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-6 {
	background-color: #f5f5f5;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 25px;
}

.page-7 {
	background-color: #4a69ff73;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 25px;
}

.page-8 {
	background-color: #ffffff;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 25px;
}

.page-9 {
	background-color: #222;
	font-weight: 300;
	padding-top: 25px;
	padding-bottom: 25px;
}

/*....................................................................*/
.main-tit {
	text-align: center;
	color: #ff6479;
	font-weight: 500;
	padding-top: 100px;
	padding-bottom: 30px;
}

.main-subtit {
	text-align: center;
	color: #1a1a1a;
}

.logotype-size {
	max-width: 80px;
	max-height: 80px;
	margin-left: 3%;
    margin-bottom: 6%;
    max-width: 80px;
    min-width: 50px;
}

.logotype-block {
	width: 80px;
}

.logotype-text-block {
	width: auto;
}

.logotype-text {
	margin-top: revert;
    margin-left: revert;
    padding-top: 15px;
	color: #3fa9f5;
	font-weight: 500;
}

.number-text {
	padding-top: 0.8em;
}

.number-text-block {
	width: 80%;
}

.number-block {
	width: 10%;
}

.text-center {
	text-align: center;
}

.middle-w-text {
	font-weight: 450;
}

.photo {
	border-radius: 80px; 
	width: 140px;
}

.main-phone {
	margin-bottom: 0;
	padding-top: 15px;
}

.main-mail {
	margin-bottom: 0;
}

.main-link {
	text-decoration: none;
}

.tit {
	text-align: center;
	color: #333333;
}

.mini-tit {
	display: block;
	padding-top: 20px;
	font-weight: 300;
	color: #3e3e3e;
}

.img-01 {
	max-height: 75px;
	width: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 4%;
    margin-bottom: 4%;
}

.main-button {
    margin-top: 4%;
}

.sup-button {
	margin-top: 1%;
	margin-bottom: 4%;
}

.img-1 {
	max-width: 80%;
	border-radius: 2px;
	border: 1px solid #dadada;
}

.foot {
	float: right;
    margin-top: 3%;
    width: auto;
    margin-right: 4%;
}

/*MOBILE
...............................................................*/
@media (min-width: 550px) {
	.img-01 {max-width: 70%;}
	.job_logo {max-width: 70%;}
	.job_logo_sm {max-width: 35%;}
	.tit {padding-top: 0px; padding-bottom: 0px;}
	.mini-tit {padding-top: 0px;}
	.wrapper {display: table;}
	.content-left {display: table-footer-group; text-align: left; padding-left: 0;}
	.content-right {padding-right: 0;}
/*	.img-l {display: table-header-group; float: none; text-align: center;}
	.img-mob {text-align: center;}*/
/*	.contact-icon {width: 13.3333333333%;}
	.contact-text {width: 82.6666666667%;}
	.contacts {text-align: center; letter-spacing: 0.1em; padding-top: 0%; padding-left: 0%;}
	.phone {font-size: 0.5em}*/
	.one.col.logotype-block {width: 80px; margin-left: 4%}
	.eleven.col.logotype-text-block {width: auto; margin-left: 1%;}
	.foot.six.col {width: auto;}
}

@media (max-width: 550px) {
	.img-01 {max-width: 70%}
	.main-button {margin-top: 6%;}
	.foot.six.col {width: auto; margin-top: 6%;}
}